@define-color foreground #cdd6f4;
@define-color background #11111b;
@define-color background1 #1e1e2e;
@define-color background2 #313244;

@define-color color0 #1e1e2e;
@define-color color1 #f38ba8;
@define-color color2 #f9e2af;
@define-color color3 #a6e3a1;
@define-color color4 #89b4fa;
@define-color color5 #cba6f7;
@define-color color6 #f2cdcd;
@define-color color7 #74c7ec;
@define-color color8 #89dceb;

*{
  border: none;
  border-radius: 5px;
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
} 

window#waybar {
  background: @background;
  color: @foreground;
}

#workspaces {
  border-radius: 9px;
  background: @background1;
  padding: 0 10px;
  margin: 5 10px;
/*  font-weight: bold;*/
  font-weight: 800;
}

#workspaces button {
  color: @foreground;
}

#workspaces button.active {
  color: @color1;
}

#tray {
  margin-left: 5px;
  margin-right: 5px;
  background: @background2;
}

#clock {
  margin-left: 5px;
  margin-right: 5px;
}

#battery {
  margin-left: 5px;
  margin-right: 5px;
}
#custom-launcher {
  color: @color3;
  margin-left: 5px;
  margin-right: 5px;
}

#pulseaudio {
  margin-left: 5px;
  margin-right: 5px;
}
/*waybar styling doesn't make sense lol, why aren't groups separate, when custom modules are?*/
#right {
  border-radius: 9px;
  background: @background1;
  padding: 0 10px;
  margin: 5 10px;
}

#custom-separator {
  margin-left: 5px;
  margin-right: 5px;
  color: @color4;
}

#window {
  border-radius: 9px;
  background: @color8;
  padding: 0 10px;
  margin: 5 10px;
}


#window-title-wrapper {
  font-weight: 900;
  border-radius: 9px;
  background: @background1;
  padding: 0 5px;
  margin: 5 10px 
}

#custom-window-icon {
  color: @color3;
  

  font-size: 18px;
  color: alpha(@color3,0.75);
  background-color: alpha(@background2, 0.55);
  border-radius: 6px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
}

#custom-arrow-separator {
  font-size: 11px;
  color: @color3;
}

#system {
  border-radius: 9px;
  background: @background1;
  padding: 0 10px;
  margin: 5 5px
}

#custom-pacman-icon {
  font-size: 18px;
  color: @color1;
  margin-right: 5px;
} 

#custom-pacman-updt {
    font-weight: 800;
    margin-left: 3px;
    margin-right: 3px;
}
